@charset "UTF-8";
body {
    font: normal 1rem arial;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 3px rgba(47, 0, 92, 0.541);
    background-image: linear-gradient(to top, aqua, rgb(191, 136, 243));
    background-attachment: fixed;
    text-align: center;
}

h1 {
    margin-bottom: 10px;
}

.cal {
    background-color: rgba(39, 55, 73, 0.151);
    width: 450px;
    font-size: 1.3rem;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.247);
    border-radius: 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin: auto;
}

input {
    display: block;
    border: none;
    font-size: 1.5rem;
    color: purple;
    font-weight: 500;
    text-shadow: 1px 1px 1px rgb(51, 0, 71);
    text-align: center;
    border-radius: 20px;
    width: 120px;
    height: 40px;
}


input#botao {
    background-color: rgb(152, 82, 218);
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    width: 200px;
    height: 50px;
    border-radius: 30px;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.144);
}

input#botao:hover {
    background-color: rgb(191, 136, 243);
}
select {
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    font-weight: 600;
    color: purple;
    border-radius: 20px;
}
.flex {
    display: flex;
    align-items: center;


}

.flex input {
    width: 25px;

}

#res {
    font-weight: normal;
    font-size: 1.5rem;
}
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.515);
}
footer img {
    width: 1.8rem;
}
